.menu-link {
  color: var(--cyan);
}

.icon {
  z-index: 99;
}

.floating-in {
  position: absolute;
  top: -50px;
  left: 50%;
  display: flex;
  justify-content: space-evenly;
  padding: .25em;
  transform: translateX(-50%);
  animation: floatIn 2s forwards;
}

@keyframes floatIn {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 15px; 
    opacity: 1;
  }
}

.rotated {
  transform: rotate(90deg);
  transition: transform 1.5s linear;
}