header {
  /* background-color: var(--cream); */
  border-bottom: solid .1em rgba(0,0,0,0.43);
}

/* search input */
.search {
  box-shadow: 1px 2px 16px -4px rgba(0,0,0,0.43);
  -webkit-box-shadow: 1px 2px 16px -4px rgba(0,0,0,0.43);
  -moz-box-shadow: 1px 2px 16px -4px rgba(0,0,0,0.43);
}

/* location button */
.location-btn {
  color: var(--cream);
  background: var(--cyan);
  box-shadow: 1px 3px 16px -4px rgba(0,0,0,0.43);
  -webkit-box-shadow: 1px 3px 16px -4px rgba(0,0,0,0.43);
  -moz-box-shadow: 1px 3px 16px -4px rgba(0,0,0,0.43);
}
