.loader {
  border: 1.5em solid var(--apricot);
  border-top: 16px solid var(--cyan);
  border-radius: 50%;
  width: 15em;
  height: 15em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}