.resources {
  color: var(--cyan);
}

.resources:hover {
  color: var(--gold);
  text-decoration: underline;
}

.re-title {
  color: var(--gold);
}

.america {
  color: var(--cyan);
}

.america:hover {
  color: var(--gold);
  text-decoration: underline;
}
