@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


:root {
  --cyan: #588b8bff;
  --apricot: #ffd5c2ff;
  --gold: #f28f3bff;
  --red: #c8553dff;
  --jet: #363537;
  --cream: #FDF6F4;
  color-scheme: light dark;
  background-color: var(--cream);
  color: var(--jet);

  font-family: 'Raleway Variable', system-ui, Helvetica, Arial, sans-serif;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0 auto;
  min-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

a {
  color: var(--jet);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--gold);
  text-decoration: underline;
}

button {
  border: 1px solid transparent;
  transition: border-color 0.5s;
  cursor: pointer;
}

button:hover {
  border-color: var(--red);
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--apricot);
  background-color: rgba(41, 39, 39, 0.191);
}

/* styles for light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--cyan);
    background-color: var(--cream);
  }
  a { 
    color: var(--cream);
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: var(--gold);
    text-decoration: underline;
  }
  button {
    color: var(--jet);
  }
  button:hover {
    border-color: var(--cyan);
  }

  button:focus,
  button:focus-visible {
  outline: 4px auto var(--cyan);
  background-color: rgba(33, 31, 31, 0.191);
  }

  .tutorial {
    background-color: var(--cream);
    color: var(--jet);
  }

  .info {
    background-color: var(--cream);
    color: var(--jet);
  }

  .header {
    background-color: var(--cream);
  }

}


 /* styles for the main map element */
.map {
  min-width:auto;
  width: 100%;
  margin: 0 auto;
  height: 50%;
}

/* floating window on home page */
.info {
  background-color: var(--cream);
  color: var(--jet);
  box-shadow: 1px 3px 16px -4px rgba(0,0,0,0.43);
  -webkit-box-shadow: 1px 3px 16px -4px rgba(0,0,0,0.43);
  -moz-box-shadow: 1px 3px 16px -4px rgba(0,0,0,0.43);
}
